body {
    background-image: url("/assets/img/login-register/b2.jpg");
    background-size:cover;
    background-repeat:repeat;
    background-position: center;
    width: 98vw;
    min-height: 80vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.register-container
{
    height: 84vh;
    margin-top: 10vh
}

.form-container {
    background-color: lightgrey;
    border-radius: 1rem;
    width: 500px;
    height: 630px;
    padding: 0 1.5rem;
    font-size: 1rem !important;
}

.register-page form
{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

#picture-container
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picture-image
{
    max-width: 90%;
    max-height: 75%;
}

#logged-in
{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    transform: translate(-10px,0);
}

@media (max-width: 1200px) 
{
    .custom-nav-container
    {
        background: none !important;
    }

    .custom-nav
    {
        padding: 0 2rem 0 1rem !important;
    }

    .form-container
    {
        margin-top: 5vh;
    }

    .form-container 
    {
        width: 450px;
    }
}