<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Layout/style.css">
</head>
<body>
    <div style="background: url(/Layout/img/bg-img/bg-4.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;">
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
