@model LoginUserViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Register";
}

@section Styles {
    <link href="@Url.Content("~/Styles/Security/login.css")" rel="stylesheet" type="text/css" />
}

<div class="login-container">
    <h1 class="pt-3">Login</h1>
    <hr />
    <div class="login-form-container">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="ReturnUrl" value="@ViewData["RedirectURL"]" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group btn-submit">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <div id="not-registered">
            Not Registered Yet ?<a asp-action="Register">Register</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
